$white: #FEFAE0;
$green: #606C38;
$dark-green: #283618;
$brown: #DDA15E;
$dark-brown: #BC6C25;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
    outline: none;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

body {
    background-color: $white;
    font-family: 'Roboto';
    color: white;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.search {
    max-width: 100%;
    height: auto;
    background-color: $dark-green;
}

.search-container {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 320px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin-bottom: 25px;
    }

    .search-input {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        input {
            width: 50%;
            min-width: 100px;
            padding: 15px;
            font-family: Roboto;
            font-size: 16px;
            border-radius: 10px;
            margin-right: 10px;
        }
        button {
            width: 100px;
            padding: 15px;
            font-family: Roboto;
            border-radius: 10px;
            font-size: 100%;
            cursor: pointer;
            transition: background-color 0.2s linear;
            &:hover {
                background-color: #d8d8d8;
            }
        }
        h2 {
            margin-right: 5px;
        }
    }
    .sorting {
        display: flex;
        width: 60%;
        margin-top: 25px;
        justify-content: center;
        flex-wrap: wrap;
        h3 {
            margin-right: 5px;
        }
        select {
            height: 25px;
        }

        .categories {
            display: flex;
            max-width: 20%;
            min-width: 176px;
            margin-bottom: 15px;
            margin-right: 15px;
        }

        .sorting-by {
            display: flex;
            max-width: 20%;
            min-width: 176px;
        }
    }

}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding: 10px;
    max-width: 100%;
}

.book__card {
    width: 100%;
    height: 500px;
    background-color: #ddd9c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    .book__card__preview-image {
        width: 100%;
        height: 80%;
        position: absolute;
    }
    .book__card__information {
        position: absolute;
        bottom: 0;
        height: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px 0px;
    }
    .book__card__information__title {
        font-size: 20px;
        color: black;
        overflow: hidden;
    }
    .book__card__information__author {
        font-size: 14px;
        background-color: rgb(205, 176, 176);
        color: black;
        overflow: visible;
    }

}

.book__page {
    padding: 15px;
}

.book__information {
    width: 100%;
    display: flex;
    gap: 25px;
    
    * {
        margin-bottom: 10px;
    }
    
    .book__information__image-side {
        width: max(16%,250px);
    }

    .book__information__image {
        width: 100%;
        height: min(100%,400px,);
    }
    .book__information__text {
        display: flex;
        flex-direction: column;
        width: 60%;
        
        .book__information__title {
            color: black;
            font-weight: 900;
        }
        
        .book__information__subtitle {
            color: black;
        }
        
        .book__information__author {
            color: rgb(48, 48, 48);
            font-size: 16px;
        }
        .book__information__caregories {
            background-color: #e5e1c9;
            color: green;
        }
        .book__information__title__page-count {
            color: #606C38;
            font-size: 20px;
            font-weight: normal;
        }
    }

    .book__information__links {
        display: flex;
        width: 100%;
        background-color: #ccc;


        a {
            font-size: 20px;
            color: red;
            margin-right: 5px;
        }
    }
    
}

.return_backward {
    width: 100%;
    height: 50px;
    background-color: #d0ccb5;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    color: black;
    font-size: 22px;
}

.loading__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        width: 48px;
        height: 48px;
        border: 3px solid #000000;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }
      .loader::after {
        content: '';  
        position: absolute;
        box-sizing: border-box;
        left: 20px;
        top: 31px;
        border: 10px solid transparent;
        border-right-color: #000000;
        transform: rotate(-40deg);
      }
      
      @keyframes rotation {
          0% {
              transform: rotate(0deg);
            }
            100% {
          transform: rotate(360deg);
        }
    } 
}

@media (min-width: 0px) and (max-width: 680px) {
    .sorting {
        .categories {
            margin: 0px !important;
            margin-left: 60px !important;
            margin-bottom: 10px !important;
        }
    }
    .search-container {
        padding: 5px;
        height: 500px;
    }
    .search-input {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between !important;
    }
    .book__information__image {
        height: 209px;
    }
}
@media (min-width: 0px) and (max-width: 562px) {
    .content {
        grid-template-columns: 1fr;
    }
    .book__card {
        width: 100%;
        height: 400px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    a {
        width: 65%;
    }

    .book__information__title {
        font-size: 22px;
    }

    .book__information__title__page-count {
        font-size: 18px;
    }

    .book__information {
        flex-direction: column;
        align-items: center;
    }

    .book__information__text {
        width: 80% !important;
    }
    .sorting {

        .categories {
            margin-right: 10px;
        }
    }



}